/*font import*/
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* variables */
:root {
  --font-family: "Bricolage Grotesque", sans-serif;
  --font-family-secondary: "Open Sans", sans-serif;
  --primary: #212C55;
  --primary-100: #0d2d6e;
  --primary-200: #001c55;
  --primary-300: #041840;
  --primary-400: #01102d;
  --primary-500: #000e2a;

  --secondary: #d9a728;

  --grey: #64718b;

  --black: #000000;
  --white: #ffffff;
}

body,
html {
  height: 100%;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 0px;
  }
}

body {
  font-family: var(--font-family-secondary);
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-family: var(--font-family);
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.text {

  // font-weight (with family)
  &__light {
    font-weight: 300;
  }

  &__regular {
    font-weight: 400;
  }

  &__medium {
    font-weight: 500;
  }

  &__semibold {
    font-weight: 600;
  }

  &__bold {
    font-weight: 700;
  }

  &__bolder {
    font-weight: 800;
  }

  &__black {
    font-weight: 900;
  }

  // color
  &__primary {
    color: var(--primary);
  }

  &__primary500 {
    color: var(--primary-500);
  }

  &__secondary {
    color: var(--secondary);
  }

  &__grey {
    color: var(--grey);
  }

  &__black {
    color: var(--black);
  }

  &__white {
    color: var(--white);
  }

  // font size
  &__12 {
    font-size: 0.75rem !important;
  }

  &__14 {
    font-size: 0.875rem !important;
  }

  &__16 {
    font-size: 1rem !important;
  }

  &__18 {
    font-size: 1.125rem !important;
  }

  &__20 {
    font-size: 1.25rem !important;
  }

  &__22 {
    font-size: 1.375rem !important;
  }

  &__24 {
    font-size: 1.5rem !important;
  }

  &__26 {
    font-size: 1.625rem;
  }

  &__32 {
    font-size: 2rem;
  }

  &__40 {
    font-size: 2.5rem;
  }

  &__44 {
    font-size: 2.75rem;
  }

  &__60 {
    font-size: 3.75rem;
  }
}

p {
  a {
    color: var(--secondary);
    text-decoration: none;
  }
}

.bg {
  &__primary {
    background-color: var(--primary-100);
  }

  &__primary200 {
    background-color: var(--primary-200);
  }

  &__primary400 {
    background-color: var(--primary-400);
  }

  &__secondary {
    background-color: var(--secondary);
  }
}

/* common css */
.pt-75 {
  padding-top: 75px;

  @media (max-width: 1200px) {
    padding-top: 25px;
  }
}

.py-12{
  padding: 12px 0;
}
.py-20{
  padding: 20px 0;
}

.py-75 {
  padding: 75px 0;

  @media (max-width: 1200px) {
    padding: 25px 0;
  }
}

.mt-lg-100 {
  margin-top: 100px;

  @media (max-width: 991px) {
    margin-top: 24px;
  }
}

.ps-40 {
  padding-left: 40px;

  @media (max-width: 1280px) {
    padding-left: 8px;
  }

  @media (max-width: 992px) {
    padding-left: 0;
  }
}

.p-50 {
  padding: 50px;

  @media (max-width: 992px) {
    padding: 15px;
  }
}

.px-50 {
  padding-left: 50px;
  padding-right: 50px;

  @media (max-width: 992px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.ps-50 {
  padding-left: 50px;

  @media (max-width: 992px) {
    padding-left: 0;
  }
}

.pe-50 {
  padding-right: 50px;

  @media (max-width: 767px) {
    padding-right: 0;
  }
}

.border-bottom {
  border-bottom: 1px solid #d9d9d933 !important;
}

.border-left {
  border-left: 1px solid #d9d9d933 !important;

  @media (max-width: 992px) {
    border-left: 0 !important;
  }
}

.border-right {
  border-right: 1px solid #d9d9d933 !important;

  @media (max-width: 992px) {
    border-right: 0 !important;
  }
}

.gap-20 {
  gap: 20px;
}

hr {
  border: 0;
  border-bottom: 1px solid #d9d9d933 !important;
  margin: 28px 0;
  opacity: 1;
}

.link {
  font-weight: 500;
  font-size: 14px;
  text-decoration: underline;
  color: var(--secondary);
}

.cursor-pointer {
  cursor: pointer;
}

/* buttons */

.btn {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2%;
  text-align: center;
  color: var(--white);
  padding: 8px;
  border-radius: 4px;
  line-height: 22px;
  position: relative;
  display: inline-block;
  border: none;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -120%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    transform: skewX(-45deg);
    transition: 0.7s ease-in-out;
  }

  &:hover::before {
    left: 120%;
  }

  &:hover {
    transform: scale(1.05);
  }

  &.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
  }

  &.btn-secondary {
    background-color: var(--secondary);
    border-color: var(--secondary);
    color: var(--black);
  }

  &.btn-white {
    background-color: var(--white);
    border-color: var(--white);
    color: var(--primary-500);

    &::before {
      background: rgba(149, 204, 255, 0.3);
    }
  }

  &.btn-small {
    font-size: 12px;
    line-height: 100%;
  }
}

/* home page */

.color-changer {
  animation: colorChange 3s infinite alternate;

  @keyframes colorChange {
    0% {
      color: var(--secondary);
    }

    50% {
      color: var(--white);
    }

    100% {
      color: var(--secondary);
    }
  }
}

header {
  .header-wrapper {
    padding: 0 50px;
    position: fixed;
    width: 100%;
    z-index: 9;
    transition: top 0.3s ease-in-out;

    &.fixed-header {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background: var(--primary-400);
    }

    @media (max-width: 992px) {
      padding: 0 !important;
      top: 0 !important;
    }

    .header {

      @media (max-width: 992px) {
        border-radius: 0 !important;

        .logo {
          max-width: 150px;
        }

        .menu-icon {
          width: 40px;
        }
      }
    }
  }
}

.navbar-collapse {
  #menu-header-menu {
    gap: 30px;

    @media (max-width:991px) {
      max-height: 90vh;
      overflow-y: scroll;
    }

    li {
      a {
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        color: var(--white);
        position: relative;
        padding-inline: 0px;
        font-family: var(--font-family);

        &:before {
          content: "";
          position: absolute;
          bottom: -2px;
          left: 0;
          width: 0%;
          height: 2px;
          background-color: var(--white);
          transition: all ease-in-out 0.3s;
        }

        @media(max-width:1280px) {
          font-size: 14px;
        }

        &:hover {
          color: var(--white) !important;
          transition: all ease-in-out 0.3s;
        }
        
      }

      &.current-menu-item,
      &.current_page_item {

        a,
        .active {
          color: var(--white) !important;
          transition: all ease-in-out 0.3s;

          &:before {
            width: 100%;
          }
        }
      }

    }

    .sub-menu {
      padding: 20px;
      border-radius: 0;

      li {
        a {
          text-align: left;
          color: var(--primary);
          padding: 16px 0;
          border-bottom: 1px solid #E7E7E7;

          &:hover {
            color: var(--secondary) !important;
            background-color: transparent;
            border-bottom: 1px solid #E7E7E7;
          }
        }

        &:first-child {
          a {
            padding-top: 0;
          }
        }

        &:last-child {
          a {
            padding-bottom: 0;
            border-bottom: 1px solid transparent;
          }
        }
      }
    }
    .dropdown-menu .dropdown-menu {
      top: 0;
      left: 105.3%;
      margin-left: 0.1rem;
      @media (max-width: 1200px) {
        width: 100%;
        position: static;
      }
    }
    .dropdown-item{
      &:focus, &:active{ 
        color: var(--secondary) !important;
        background-color: transparent !important;
      }
    }
    .dropdown-toggle{
      padding-right: 16px !important;
      &:after{
        content: '';
        background-image: url('../images/dropdown.svg');
        width: 16px;
        height: 16px;
        border: none;
        background-size: contain;
        background-repeat: no-repeat;
        top: 12px;
        right: -3px;
        position: absolute;
      }
    }
    .dropdown-menu{
      @media (max-width: 1200px) {
        max-height: 90vh;
        overflow-y: auto;
      }
      .dropdown-toggle{
        &:after{
          background-image: url('../images/dropdown-inner.svg');
          top: 15px;
        }
      }
    }
  }

  @media (max-width: 991px) {
    background: var(--primary);
    width: 100%;
    top: 73px;
    position: absolute;
    left: 0;

    #menu-header-menu {
      gap: 5px;
      padding: 10px 16px;
      margin: 0 !important;

      li {
        a {
          text-align: left;

          &:before {
            width: 0 !important;
          }
        }
      }
    }
  }
}

.navbar-toggler {
  outline: 0 !important;
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;
}

.footer-menu{
  padding-top: 20px;
  ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    li{
      list-style: none;
      line-height: initial;
      margin: 0;
      a{
        color: var(--white);
        font-weight: 400;
        font-size: 12px;
        text-decoration: none;
        transition: color ease-in-out 0.3s;

        &:hover {
          color: var(--secondary) !important;
          transition: color ease-in-out 0.3s;
        }
      }
    }
  }
}

.banner {
  position: relative;
  z-index: 2;
  overflow: hidden;

  video,
  img {
    display: block;
    height: 95dvh;
    height: 95vh;
    object-fit: cover;
    width: 100%;

    @media (max-width: 992px) {
      height: 60dvh;

      @media (orientation: landscape) {
        height: 100vh;
      }
    }
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(264.25deg,
        rgba(0, 0, 0, 0.1) 1.2%,
        rgba(0, 0, 0, 0.5) 52.23%,
        rgba(0, 0, 0, 0.8) 96.96%);
    z-index: 0;
  }

  .banner-content {
    height: 95dvh;
    height: 95vh;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 8;

    @media (max-width: 992px) {
      height: 70dvh;
      height: 70vh;

      h1 {
        font-size: 40px;
      }

      h5 {
        font-size: 20px !important;
      }

      @media (orientation: landscape) {
        height: 100vh;

        h1 {
          font-size: 40px;
          margin-top: 0px;
        }

        h5 {
          font-size: 20px !important;
        }
      }
    }
  }

  &.inner-page {
    img {
      height: 560px;

      @media (max-width: 992px) {
        height: 400px;
      }
    }

    .banner-content {
      @media (max-width: 992px) {
        height: 90dvh;
        height: 90vh;
      }
    }
  }

}

.quick-connect {
  position: fixed;
  left: auto;
  right: 0;
  top: 60%;
  z-index: 99;
  display: flex !important;
  gap: 8px;
  flex-direction: column;
  align-items: flex-end;

  a {
    padding: 8px;
    background: var(--primary);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    transition: all ease-in-out 0.3s;
    display: block;

    &:hover {
      padding-right: 20px;
    }
  }
}

.blur-modal {
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1055;

  .modal-dialog {
    max-width: 100%;

    .modal-content {
      background-color: transparent;
      border: none;
    }

    .modal-close {
      position: fixed;
      top: 16px;
      right: 16px;
    }
  }
}

#backToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  z-index: 999;
  background: #fff;
  border-radius: 50%;

  svg.progress-circle {
    width: 60px;
    height: 60px;
    transform: rotate(-90deg);

    circle {
      fill: none;
      stroke-width: 6;
      stroke: rgba(0, 14, 42, 0.45);

      &.progress {
        stroke: var(--primary);
        stroke-linecap: round;
        stroke-dasharray: 283;
        /* 2Ï€r where r = 45 */
        stroke-dashoffset: 283;
        transition: stroke-dashoffset 0.2s linear;
      }
    }
  }

  .arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    font-size: 20px;
    color: #f1a72e;
  }
}